.recent{
  margin-left: .2em;
}

  body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    font-weight: 300;
  }

  #navBar{
    background-color: mediumspringgreen;
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    width: 100%;
    display: inline-block;
  }

  .navKey{
    padding-right: 4em;
    padding-left: .5em;
    display: inline-block;

  }

  #pageTitle{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3em;
    color: darkslategrey;
  }

  body{
    background-image:url(photos/bg-leaves.jpeg);
  }

  img {
    padding-right: .2em;
  }

  .youtube{
    margin: 1em;
  }
  
